/* https://html-css-js.com/css/generator/text-shadow/
PAGINA IMPORTANTE PARA BSUCAR TEXT SHADOW Y DEMAS COSAS*/

h1{
    text-align: center;
    text-shadow: 2px 2px 2px #a8dadc; 
    /*primer valor sobre el eje X , 2do valor sobre eje Y, el tercer valor es el BLUR = difuminado */
    color: #e63946;
}
div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px greenyellow; /* el 4to valor agrega mas tamaño a la sombra*/
    color: #457b9d;
    border-radius: 15px;
}
div.cabecero{
    background-color: #4cc9f0;
}
div.cuerpo{
    padding-top: 2px;
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(177,177,177);
}