h1{
    text-align: center;
    color:#e63946;
}
div{
    padding: 10px;
    border: 15px solid #457b9d;
    margin: 20px;
    background-color: beige ;
    width: 300px;

    /* el ancho completo de nuestro elemento es 350px
    se suma el elemento + padding(10izq+10derecha) + borde + margin
    en el ejemplo de arriba no se toma el margen.*/
}