h1{
    color: green;
}

ul{
    list-style-type: none;
    background-color: #457b9d;
    overflow:hidden;  /* overflow:scroll  sirve para mostrar las barras de scroll y movernos dentro de los elementos. */
    margin: 0;
    padding: 0;
}
li{   /* float sirve para rotar de vertical a horizontal */
float: left;
}

li a{   /*  seleccionamos los links que estan dentro de elementos list item */
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover{
    background-color: #1d3557;
}
